

body{
    background: url("https://vips.org/wp-content/uploads/2018/09/question-background.png");
    
    
}

.grid{
    width: 600px;
    height: 700px;
    background-color:silver;
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
    border-radius: 50px; 
    border: 2px solid black;
    box-shadow: 10px 15px 5px black; 
    overflow-y: scroll; 
}

.grid h1{
    font-family: sans-serif;
    background-color: black;
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
    border-radius: 50px;
    padding: 2px 0px;
}

.grid #questions{
    font-family: sans-serif;
    font-size: 30px;
    color: purple;

}

#choices{
    margin-top: 30px;
}

#progress{
    color: black;
    font-size: 18px;
}

#submit{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 24px;
}

#after_submit {
    visibility: hidden;
}
#button{
    width: 175px;
    height: 45px;
    background-color: cadetblue;
    font-size: 16px;
    border-radius: 30px;
}
#startButton{
    text-align: center;
    border-radius: 70px;
    background-color: black;
    color: cornsilk;
    width: 400px;
    height: 400px;
    font-size: 36px;
    position: fixed;
    
}

#mainContainer{
    display: none;
}

